<% @page_title = "Archives" -%>
<header>
  <h1>Archives</h1>
</header>

<section id="articles">
  <ol>
    <% @articles.each do |article| -%>
    <li>
      <time><%= article.date.strftime("%Y-%m-%d") %></time>
      <section class="title">
        <a href="<%= article.permalink %>"><%= article.title %></a>
        <% if article.category -%>
        <span><%= article.category %></span>
        <% end -%>
      </section>
    </li>
    <% end -%>
  </ol>
</section>
