{% extends "base.html" %}


{% block head %}
	<title>{{title}}</title>
	<meta name="description" content="{{summary}}">
{% endblock head %}


{% block page_header %}
	<h1>{{title}}</h1>
{% endblock page_header %} 


{% block content %}
	<article> 
		<section class="post-details">
			<time>{{date}}</time>
		</section>
		<section>{{content_html}}</section>
	</article>
{% endblock content %}


{% block footer_categories %}
	<h4>Writing</h4>
	<section id="categories">
		<ul>
			{% for category in categories %}
			<li>
				<a href="#">{{category}}</a>
			</li>
			{% endfor %}
		</ul>
	</section>
{% endblock footer_categories %}