{% extends "base.html" %}

{% block head %}
<title>{{title}}</title>
<meta name="description" content="{{summary}}">
{% endblock head %}

{% block content %}
<section id="articles">
	<ol>
		{% for article in page_articles %}
			<li>
				<time>{{article.date.strftime("%b %d, %Y")}}</time>
				<section class="title">
					<a href="{{article.url}}">{{article.title}}</a>
					<span>{{article.category}}</span>
				</section>
			</li>
		{% endfor %}
	</ol>
</section>

<!-- Pagination -->
<div id="pagination">
	<div class="left">
		{% if prev_link %}
		<a href="{{prev_link}}">&larr; Previous articles</a>
		{% endif %}
	</div>
	<div class="right">
		{% if next_link %}
		<a href="{{next_link}}">Newer articles &rarr;</a>
		{% endif %}
	</div>
</div>
{% endblock content %}